:root {
    --primary-color: #6AAF71;
    --secondary-color: #ffffff;
    --third-color: #F4DE87;
    --fake-glass-green: #89bd88;
    /**/
    --hover-color: #BEBEBE;
    /*Circular timer*/
    --background-timer: #ffffff;
    /*Fonts*/
    --fontss: #f0f0f0;
}
