.logo{
    width: 70px;
    height: auto;
    border-radius: 50%;
    transition: 0.2s;
    user-select: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.2);
}

