<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Adjustable_Pomodoro_Timer</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/Adjustable_Pomodoro_Timer.styles.css" asp-append-version="true" />

    <!--Bootstrap icons-->
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" asp-append-version="true" />
    
    <!--Pages and Layout-->
    <link rel="stylesheet" href="~/css/Pages/timer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true"/>

    <!--variables-->
    <link rel="stylesheet" href="~/css/variables.css" asp-append-version="true" />

    <!--Utilities-->
    <link rel="stylesheet" href="~/css/utilities.css" asp-append-version="true" />

    <!--Fonts-->
    <link rel="stylesheet" href="~/css/Fonts.css" asp-append-version="true" />

    <!--Components-->
    <link rel="stylesheet" href="~/css/Components/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Components/pill-navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Components/timer-card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Components/timer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Components/widget.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Components/circular-progress-bar.css" asp-append-version="true" />

</head>

<body>
    <header>
    </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
