
.pill-navbar .pill-navbar-list {
    list-style: none;
    display: flex;
    gap: 4px;

    list-style: none;
    margin: 0;
    padding: 3px;
    border-radius: 100px;
}

.nav-button {
    font-family: 'Karantina', sans-serif;
    font-size: 40px;
    color: var(--primary-color);
    width: 197px;
    height: 63px;
    border: none;
    box-shadow: inset 0 -4px 4px 0 rgba(0,0,0,0.25);
    margin: 0;
}

.nav-button i{
    font-size: 32px;
}


#study-button{
    border-radius: 100px 0px 0px 100px;
}

#short-break-button {
    width: 187px;
}

#long-break-button {
    border-radius: 0px 100px 100px 0px;
}

.active {
    box-shadow: inset 0 3px 4px 0 rgba(0,0,0,0.25);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    user-select:none;
}