.timer-clock {
    justify-items: center;
    margin-bottom: 27px;
}

.timer-controllers {
    display: flex;
    gap: 169px;
    height: 69px;
}


#timer-time {
    font-weight: 600;
    font-family: 'Karantina', sans-serif;
    font-size: 128px;
    color: var(--fontss);
}
