.timer-button {
    display: inline-block;
    height: 4.113rem;
    width: 180px;
    max-width: 180px;
    color: var(--primary-color);
    border-radius: 05px;
    font-size: 1.8rem;
    font-family: roboto;
    font-weight:900;
    border: none;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.2),
                0 8px 18px rgba(0, 0, 0, 0.22);
    font-family: 'roboto', sans-serif;
    transition: 0.01s;
}

#plus-icon{
    border: none;
    background-color: transparent;   
    color: var(--secondary-color);
    font-size: 50px;
}

.white-no-fill{
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    color: white;
}

.white-no-fill:hover{
    background: rgba(255, 255, 255, 0.16);
    cursor: pointer;
}

button{
    transition: 0.2s;
}

    button:not(.active, .SkipActive, .white-no-fill):hover {
        background-color: #E2E1E1;
        cursor: pointer;
    }

.timer-button:active {
    box-shadow: inset 0 3px 4px 0 rgba(0,0,0,0.25);
}

.SkipActive{
    opacity: 0.5;
    pointer-events: none;
}

