main {
    margin: 0px;
    background-color: var(--primary-color);
    padding-bottom: 3.438rem;
    padding-top: 10px;
}


.pill-navbar {
    justify-items:center;
    align-items:center;
    width: 100%;
    max-width: 594px;
    border-radius: 50px;
    height: 69px;
    margin: 0 auto;
    padding: 0;
}

.timer-card{
    justify-items:center;
    padding: 1.563rem;
    margin: 0 140px 0 140px;
    border-radius: 28px;
}

.timer-clock{
    justify-items:center;
    margin-bottom: 27px;
}